<div class="card">
  <div class="card-header bg-light">
    <span class="float-start fs-3 fw-bold text-primary">
      <%= image_tag("structure/structures-logo.svg", class: "img-fluid", alt: "structures-logo.svg") %>
      &emsp;
      Strutture
    </span>
    <span class="float-end fs-4 fw-bold">
      <%= link_to new_structure_path, class: "btn btn-sm btn-success shadow  fs-5 fw-bold", data: { turbo: true, turbo_frame: 'modal' }, title: "Crea un Nuovo Record" do %>
        <span class="fs-6 fw-bold">
          <i class="fa-solid fa-plus"></i>
          &nbsp;
          <i class="fa-solid fa-building"></i>
          &nbsp;
          Nuova Struttura
        </span>
      <% end %>
    </span>
  </div>
  <div class="card-body">
    <%# notice %>
    <div id="structures">
      <table class="table table-hover">
        <thead>
          <th class="fs-5 fw-bold text-primary">
            <i class="fa-solid fa-building fs-5 fw-bold text-primary"></i>
            &nbsp;
            Struttura
          </th>
          <th class="fs-5 fw-bold text-primary">
            <i class="fa-solid fa-arrow-up-9-1 fs-5 fw-bold text-primary"></i>
            &nbsp;
            Posizione
          </th>
          <th colspan=2></th>
        </th>
      </thead>
      <tbody>
        <% @structures.each do |structure| %>
          <%= render structure %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
</div>