<br/>
&emsp;
<div class="row align-items-center p-3">
  <div class="col text-center">
    <%= image_tag("home/logo-trantor.svg", class: "img-fluid") %>
    <br/>
    &emsp;
    <h3 class="text-primary">
      <strong>Trantor Foundation</strong>
    </h3>
    <span class="text-primary">
      --- Applicazione gestionale web per Rimborsi Spese ed Assenze ---
    </span>
    <br/>
    &emsp;
    <br/>
    <h4 class="text-primary">
      Versione 1.0
    </h4>
  </div>
  <div class="col text-center">
    <%= image_tag("home/logo-davo.svg", class: "img-fluid") %>
    <br/>
    &emsp;
    <h3 class="text-primary">
      The Davosky Connection <br/>
    </h3>
    <span class="text-primary">
      by
    </span>
    <br/>
    <h4 class="text-primary">
      <a href="https://github.com/davosky/TrantorGalaxy" target="new">
        Davo Davodsky
      </a>
    </h4>
    <br/>
  </div>
</div>
