<div class="col-6 offset-3">
  <%= image_tag("home/logo-trantor.svg", class: "img-fluid") %>
  <hr/>
  <p class="p-justify">
    Localizzato nelle regioni centrali della Via Lattea &egrave; uno dei pianeti abitabili pi&ugrave; vicini al Nucleo Galattico, Trantor venne colonizzato nei primi millenni di espansione umana nell'Universo, e pian piano acquis&igrave; sempre maggiore importanza e potere. Inizialmente composto di soli cinque mondi, lo stato fondato da Trantor inglob&ograve; sempre pi&ugrave; sistemi stellari nel corso dei millenni, fino a fondare un vastissimo Impero Galattico e rimanendone la capitale per 12.000 anni (centinaia di generazioni). Aveva una superficie abitata di oltre 75 milioni di miglia quadrate e consisteva di una singola citt&agrave;, con oltre 40 miliardi di abitanti. Su Trantor erano locati gli uffici amministrativi dell'intera galassia.
  </p>
  <span class="float-end">
    <small>
      Tratto da:&emsp;Trilogia della Fondazione&emsp;di:&emsp;Isaac Asimov
    </small>
  </span>
</div>
